{
  "retainLines": true,
  "plugins": ["react-hot-loader/babel", "@babel/plugin-proposal-class-properties"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 0.5%", "not dead"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  }
}
