{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "fbjs",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "prettier",
    "jsx-a11y",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.config.prod.js"
      }
    },
    "react": {
      "version": "16.4.1"
    }
  }
}
